name: Nix Syntax Check

on: [push, pull_request]

jobs:
  check-syntax:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Nix
        run: |
          sh <(curl -L https://nixos.org/nix/install) && \
          . /home/runner/.nix-profile/etc/profile.d/nix.sh && \
          nix --version && \
          nix-env --version && \
          nix-env -iA nixpkgs.nixfmt-rfc-style && \
          for file in $(find . -name "*.nix"); do
            nixfmt $file
          done

      - name: something
        run: |
          nix --version || true