name: Nix Syntax Check

on: [push, pull_request]

jobs:
    check-syntax:
        runs-on: ubuntu-latest

        steps:
            -   name: Install Nix
                run: |
                    sh <(curl -L https://nixos.org/nix/install)

            -   name: Install Nixfmt
                run: |
                    . /home/runner/.nix-profile/etc/profile.d/nix.sh && \
                    nix --version && \
                    nix-env --version && \
                    nix-env -iA nixpkgs.nixfmt-rfc-style

            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Run Nixfmt
                run: |
                    . /home/runner/.nix-profile/etc/profile.d/nix.sh && \
                    for file in $(find . -name "*.nix"); do
                        nixfmt $file
                    done